@import "../style-main";

body {
	text-align: justify;
}

.container {
}

.guide1 {
	.guideVertical_left(30px);
}
.guide2 {
	.guideVertical_right(30px);
}
.guide3 {
	.guideVertical_center_left(30px);
}
.guide4 {
	.guideVertical_center_right(30px);
}

.guide-h-1 {
	.guideHorizontal_top(30px);
}
.guide-h-2 {
	.guideHorizontal_bottom(30px);
}

.test-guides {
	// Мой экран 1920*949
	.rectangle((1920/2 - 30),242 );
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(127,0,0,.3);
}

.test-block {
	.rectangle(300,300);
	background-color: rgba(0,127,0,.3);
	.guide-h-3 {
		.guideHorizontal_object(30)
	}
}