/**
 * Сетка для сайта
 * ===============
 *
 * Требуется предварительно указать переменные:
 * - @grid_columns - стандартное число колонок
 * - @grid_gutterWidth - ширина промежутка между элементами
 * - @grid_maxWidth - максимальная ширина (px)
 *
 * Также требуется миксин .border-box(); ('box-sizing:border-box;' + префиксы)
 *
 * Использоваться должно как:
 * .row>(.column(x)+.column(y)...),
 * т.е. все колонки необходимо располагать внутри row независимо от их ширины
 * и количества, переноситься на следующую строку они будут сами.
 * При этом row содержит по бокам половину промежутка, вторая половина берется
 * от column.
 * Если требуется расположить колонки в колонке, то для колонки-контейнера
 * необходимо задать '@padding:0':
 * .column(x,0,@columns)
 */

@import "variables.less";
@import "mixins.less";

/* Здесь ничего не надо трогать */
/* Utility variable — you should never need to modify this */
@grid_fix_width: @grid_columns * 1px;
@grid_padding: @grid_gutterWidth * 0.5;
@correction: 0.5 / @grid_maxWidth * 100 * 1%; // NOTE: Check this in IE

/* Предотвращает схлопывание элемента по высоте,
 * когда в нем только плавающие элементы */
/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack */
.clearFix() {
	*zoom:1;
	&:before, &:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
}

/**
 * Строка (контейнер колонок)
 * @p: padding-(left/right)
 * @mT/@mB: margin-(top/bottom)
 */
.row(@p:@grid_padding, @mT:0, @mB:0) {
	.clearFix();
	.bBox();
	display: block;
	width: 100%;
	max-width: @grid_maxWidth;
	margin: @mT auto @mB;
	padding:0 @p;
}

/**
 * Колонка
 * @x: ширина в колонках единичной ширины
 * @p: padding-(left/right)
 * @t: общее число колонок
 */
.column(@x:1, @p:@grid_padding, @t:@grid_columns) {
	.bBox();
	display: inline;
	float: left;
	width: 100%*(@x / @t);
	padding: 0 @p;
	//IE 6 & 7 Fix
	*width: 100%*((@x / @grid_fix_width)-@correction);
	*padding: 0 (@p)-@correction;
}

/*
 * Сдвиг ТЕКУЩЕЙ колонки вправо
 * @x: ширина в колонках единичной ширины
 * @t: общее число колонок
 */
.push(@x:1, @t:@grid_columns) {
	margin-left: 100%*(@x/@t);
}
/*
 * Сдвиг СЛЕДУЮЩЕЙ колонки вправо
 * @x: ширина в колонках единичной ширины
 * @t: общее число колонок
 */
.pull(@x:1, @t:@grid_columns) {
	margin-right: 100%*(@x/@t);
}