@import "variables.less";
@import "less_services/mixins_services";

// Плавный переход (применится всем изменениям)
.transition-duration(@duration:@trDuration) {
	-webkit-transition-duration: @duration;
	-moz-transition-duration: @duration;
	-ms-transition-duration: @duration;
	-o-transition-duration: @duration;
	transition-duration: @duration;
}
// Задержка перехода
.transition-delay(@duration:3s) {
	-webkit-transition-delay: @duration;
	-moz-transition-delay: @duration;
	-ms-transition-delay: @duration;
	-o-transition-delay: @duration;
	transition-delay: @duration;
}
// Плавный для свойства @prop
.transition(@prop:all, @d:@trDuration) {
	-webkit-transition: @prop @trDuration;
	-moz-transition: @prop @trDuration;
	-ms-transition: @prop @trDuration;
	-o-transition: @prop @trDuration;
	transition: @prop @trDuration;
}

// Линейный градиент со стопами
.linear-gradient(@col_t, @col_b, @pos_t:0%, @pos_b:100%) {
	background-image: -moz-linear-gradient(top, @col_t @pos_t, @col_b @pos_b); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@pos_t,@col_t), color-stop(@pos_b,@col_b)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, @col_t @pos_t,@col_b @pos_b); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, @col_t @pos_t,@col_b @pos_b); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, @col_t @pos_t,@col_b @pos_b); /* IE10+ */
	background-image: linear-gradient(to bottom, @col_t @pos_t,@col_b @pos_b); /* W3C */
	/* Начальная и конечная позиции всегда будут 0 и 100% */
	filter: e("progid:DXImageTransform.Microsoft.gradient(startColorstr='@{col_t}', endColorstr='@{col_b}',GradientType=0)"); /* IE6-9 */
}
// Отключить градиент (любой)
.gradient_remove() {
	background-image: none;
	filter: none; /* IE6-9 */
}

// Черно-белое изображение
.filter_bw() {
	//-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); /* new IE*/
	-o-filter: grayscale(100%); /* Opera 13+ */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}
// Убрать эффекты изображений
.filter_remove() {
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	-webkit-filter: none;
	filter: none;
}

// Прозрачность
.opacity(@from0to1) {
	opacity: @from0to1;
	@ieOpacity: @from0to1 * 100;
	filter: e("alpha(opacity=@{ieOpacity})");
}

// Свойство box-sizing:border-box с префиксами
.bBox() {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Оформление плейсхолдеров
.placeholder(@color:#888) {
	&:-moz-placeholder {color: @color;} // Firefox 4-18
	&::-moz-placeholder {color: @color;} // Firefox 19+
	&:-ms-input-placeholder {color: @color;} // IE 10+
	&::-webkit-input-placeholder {color: @color;} // Chrome/Safari
}

// Разбиение содержимого на колонки (кол-во, ширина колонки, расстояние между колонками)
.cColumns(@n:2,@w:45%,@g:10%) {
	-webkit-column-width: @w;
	-moz-column-width: @w;
	column-width: @w;
	-webkit-column-count: @n;
	-moz-column-count: @n;
	column-count: @n;
	-webkit-column-gap: @g;
	-moz-column-gap: @g;
	column-gap: @g;
}

// Скругленные углы
.rounded(@radius:@cRadius) {
	.unitTest_bRad(@radius)
}

// Круглые элементы
.circle(@diameter:auto) {
	.unitTest_width(@diameter);
	.unitTest_height(@diameter);
	border-radius: 50%;
}

// Квадрат
.square(@side:100px) {
	display: block;
	.unitTest_width(@side);
	.unitTest_height(@side);
}

// Прямоугольник
.rectangle(@w:auto, @h:auto) {
	display: block;
	.unitTest_width(@w);
	.unitTest_height(@h);
}

// Добавление содержимого к элементу до и после
.contentWrap(@b:"",@a:"") {
	&:before {content: @b;}
	&:after {content: @a;}
}

// Иконки к инпутам (смещается в зону инпута; иконку располагать без пробела рядом с инпутом)
// Иконка слева: span.icon+input | span.icon {.input-icon(@iconW:16px,@inpP:0,@mR:0);}
.inputIcon_l(@iconW:16px,@inpP:0,@mL:0) {
	margin-right: -(@iconW + @inpP);
	margin-left: (@inpP + @mL);
}
// Иконка справа: input+span.icon | span.icon {.input-icon(@iconW:16px,@inpP:0,@mR:0);}
.inputIcon_r(@iconW:16px,@inpP:0,@mR:0) {
	margin-left: -(@iconW + @inpP);
	margin-right: (@inpP + @mR);
}

// Поддержка Retina для фоновых изображений (@w и @h задаются для маленького размера)
.bgiRetina(@n, @w, @h, @r:replace(@n,".","_2x.")) {
	background-image: url("@{n}");
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
			background-image: url("@{r}");
			background-size: @w @h;
		}
}


// Подключение шрифтов (располагать в директории "fonts")
// @font-face {.font-include(FontName, FontFileName, normal, italic);}
.fontInclude(@name, @file:@name, @weight:normal, @style:normal) {
	font-family: "@{name}";
	src: url("fonts/@{file}.eot");
	src: url("fonts/@{file}.eot?#iefix") format("embedded-opentype"),
	url("fonts/@{file}.woff") format("woff"),
	url("fonts/@{file}.ttf") format("truetype"); //,
	//url("@{fontFile}.svg#@{fontName}") format("svg");
	font-weight: @weight;
	font-style: @style;
}

// Подключение шрифта с несколькими типами
.fontInclude_r(@name, @file:@name) {
	@font-face {
		.fontInclude(@name, "@{file}-r");
	}
}
.fontInclude_b(@name, @file:@name) {
	@font-face {
		.fontInclude(@name, "@{file}-b", bold);
	}
}
.fontInclude_i(@name, @file:@name) {
	@font-face {
		.fontInclude(@name, "@{file}-i", @style:italic);
	}
}
.fontInclude_bi(@name, @file:@name) {
	@font-face {
		.fontInclude(@name, "@{file}-bi", bold, italic);
	}
}
.fontInclude_r-b(@name, @file:@name) {
	.fontInclude_r(@name, @file);
	.fontInclude_b(@name, @file);
}
.fontInclude_r-i(@name, @file:@name) {
	.fontInclude_r(@name, @file);
	.fontInclude_i(@name, @file);
}
.fontInclude_b-i(@name, @file:@name) {
	.fontInclude_b(@name, @file);
	.fontInclude_i(@name, @file);
}
.fontInclude_r-b-i(@name, @file:@name) {
	.fontInclude_r-b(@name, @file);
	.fontInclude_i(@name, @file);
}
.fontInclude_r-b-i-bi(@name, @file:@name) {
	.fontInclude_r-b-i(@name, @file);
	.fontInclude_bi(@name, @file);
}


// Вывод направляющих линий
// .someClass{.guideVertical_left(lineOffset,lineColor);}
// Направляющие линии будут находиться с внешней стороны позиции смещения,
// т.е. для левых линий - левее на @guideWidth, для правых - правее, для верхних - выше, для нижних - ниже;
// т.е. выравниваемый по линиям объект требуется располагать не на самих линиях, а для левых - правее, и т.п.

// Вертикальные направляющие линии
// Смещение от краев - левого и правого
.guideVertical_left(@o, @c:@color_guideLines) {
	.guideVertical_BasicParams(@c);
	left: (@o - @guideWidth);
}
.guideVertical_right(@o, @c:@color_guideLines) {
	.guideVertical_BasicParams(@c);
	right: (@o - @guideWidth);
}
// Смещение от центра - влево и вправо
.guideVertical_center_left(@o, @c:@color_guideLines) {
	.guideVertical_BasicParams(@c);
	left: 50%;
	margin-left: -(@o + @guideWidth);
}
.guideVertical_center_right(@o, @c:@color_guideLines) {
	.guideVertical_BasicParams(@c);
	left: 50%;
	margin-left: @o;
}
// Горизонтальные направляющие линии - смещение сверху и снизу
.guideHorizontal_top(@o, @c:@color_guideLines) {
	.guideHorizontal_BasicParams(@c);
	top: (@o - @guideWidth);
}
.guideHorizontal_bottom(@o, @c:@color_guideLines) {
	.guideHorizontal_BasicParams(@c);
	bottom: (@o - @guideWidth);
}
// Горизонтальное смещение вниз от объекта (линии располагать дочерними элементами объекта)
.guideHorizontal_object(@o, @c:@color_guideLines) {
	.guideHorizontal_BasicParams(@c);
	margin-top: (@o - @guideWidth);
}