// Код, который можно использовать в разных проектах
@import "variables.less";

// Футер снизу
// body>(.global__wrap>.global__push)+.global__footer
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: table;
}
.global__wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0px auto -@footerHeight;
}
.global__push, .global__footer {
	height: @footerHeight;
}