// Шрифты: обязательно для normalize.less
@mainFont_name: "firasans";
@mainFont_family: @mainFont_name, Arial, Helvetica, Verdana, Tahoma, sans-serif;

// Сетка от Responsible Grid System: обязательно для grid.less
@grid_gutterWidth: 20px;
@grid_columns: 6;
@grid_maxWidth: 1140px;

// Размеры
@footerHeight: 30px; // Обязательно, если подключать reuse.less в текущем виде
@cRadius: 4px;

// Основные цвета
@color_light: #fff;
@color_dark: #000;
@color_brand: #f82;

// Скорость переходов (обязательно)
@trDuration: 0.5s;

// Параметры вспомогательных линий (обязательно)
@color_guideLines: rgba(0,0,0,.3);
@guideWidth: 2px;