/**
* Служебные примеси, используемые в mixins.less
*/

@import "../variables.less";

// Работа с единицами измерений (если не указаны или указаны)
@unit: 'px';
// width
.unitTest_width(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	width: e("@{val}@{unit}");
}
.unitTest_width(@val) when (default()) {
	width: @val;
}
// height
.unitTest_height(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	height: e("@{val}@{unit}");
}
.unitTest_height(@val) when (default()) {
	height: @val;
}
// border-radius
.unitTest_bRad(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	border-radius: e("@{val}@{unit}");
}
.unitTest_bRad(@val) when (default()) {
	border-radius: @val;
}
// margins
.unitTest_margin(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	margin: e("@{val}@{unit}");
}
.unitTest_margin(@val) when (default()) {
	margin: @val;
}
.unitTest_ml(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	margin-left: e("@{val}@{unit}");
}
.unitTest_ml(@val) when (default()) {
	margin-left: @val;
}
.unitTest_mr(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	margin-right: e("@{val}@{unit}");
}
.unitTest_mr(@val) when (default()) {
	margin-right: @val;
}
.unitTest_mt(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	margin-top: e("@{val}@{unit}");
}
.unitTest_mt(@val) when (default()) {
	margin-top: @val;
}
.unitTest_mb(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	margin-bottom: e("@{val}@{unit}");
}
.unitTest_mb(@val) when (default()) {
	margin-bottom: @val;
}
// paddings
.unitTest_padding(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	padding: e("@{val}@{unit}");
}
.unitTest_padding(@val) when (default()) {
	padding: @val;
}
.unitTest_pl(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	padding-left: e("@{val}@{unit}");
}
.unitTest_pl(@val) when (default()) {
	padding-left: @val;
}
.unitTest_pr(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	padding-right: e("@{val}@{unit}");
}
.unitTest_pr(@val) when (default()) {
	padding-right: @val;
}
.unitTest_pt(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	padding-top: e("@{val}@{unit}");
}
.unitTest_pt(@val) when (default()) {
	padding-top: @val;
}
.unitTest_pb(@val) when not (@val=0) and not (ispixel(@val)) and not (isem(@val)) and not (ispercentage(@val)) and not (iskeyword(@val)) {
	padding-bottom: e("@{val}@{unit}");
}
.unitTest_pb(@val) when (default()) {
	padding-bottom: @val;
}

// Служебные классы для горизонтальных и вертикальных направлюящих линий
.guideVertical_BasicParams(@bColor:@color_guideLines) {
	width: 0;
	height: 100%;
	border-left-style: dashed;
	border-left-width: @guideWidth;
	border-color: @bColor;
	position: absolute;
	top: 0;
	z-index: 9999;
}
.guideHorizontal_BasicParams(@bColor:@color_guideLines) {
	width: 100%;
	height: 0;
	border-top-style: dashed;
	border-top-width: @guideWidth;
	border-color: @bColor;
	position: absolute;
	left: 0;
	z-index: 9999;
}